name: lab1
on: [push]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 #  Fetch full history

      - name: Check for changes in Lab 2
        id: check_changes
        run: |
          COUNT=$(git log --oneline --since="24 hours ago" -- "GitHub_Action/lab2" | wc -l)
          echo "count=$COUNT" >> $GITHUB_OUTPUT
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Lab 1 Script

        run: python "GitHub_Action/lab1/lab1_script.py"